@{
    ViewBag.TitlePage= "Lỗi" + ViewBag.StatusCode;
}
<!--Banner lager-->
<div class="container-fluid">
    <div class="banner-sm section">
        <p class="white mb-0">Lỗi @ViewBag.StatusCode - @ViewBag.Error</p>
    </div>
</div>
<div class="section py-4">
    <div class="img text-center mb-5">
        <img src="~/images/error.png" width="150">
    </div>
    <p class="text-center">
        <a onclick=" window.history.back();" class="link blue" href="#!" title="To Home"> QUAY LẠI</a>
    </p>
</div>

