<!DOCTYPE html>
<html lang="vi-VN">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="language" content="VN" />
	<title>Admin</title>
	<!--CDN REFERENCE-->
	<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" />
	<link rel="stylesheet" href="~/libs/line-awesome-1.3.0/1.3.0/css/line-awesome.min.css" />
	<link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.css" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<!--CSS MAIN-->
	<link rel="stylesheet" href="~/css/main.css" />
	<link rel="stylesheet" href="~/css/main-admin.css" />
	<!--Angular JS-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-cookies.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.min.js"></script>
</head>

<body ng-app="app">
	<!-- Hneder -->
	<ng-include src="'app/templates/header.html'"></ng-include>
	<!-- Toast -->
	<toaster-container class=" toast-bottom-right"
	toaster-options="{'close-button': true, 'time-out': 3000,'position-class': toast-bottom-full-width}">
	</toaster-container>
	<div class="container-fluid">
		<div id="admin-container" class="row">
			<!--Nav Desktop-->
			<div class="col-2 d-none d-lg-block">
				<ng-include src="'app/templates/navigate.html'"></ng-include>
			</div>
			<!--Content-->
			<div class="col-12 col-lg-10 bg-empty">
				<ng-view></ng-view>
			</div>
		</div>
	</div>
	<!--SCRIPTS-->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<!-- UI -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
	<script src="~/js/element-ui.js"></script>
	<!--Text edit-->
	<script src="~/js/admin.js"></script>
	<!--Angular App-->
	<script src="~/app/app.module.js"></script>
	<script src="~/app/app.router.js"></script>
	<script src="~/app/share/exception.js"></script>
	<script src="~/app/share/derectives.js"></script>
	<!--Product Controller-->
	<script src="~/app/controllers/product/listProductCtrl.js"> </script>
	<script src="~/app/controllers/product/productDetailCtrl.js"> </script>
	<!--Post Controller-->
	<script src="~/app/controllers/post/postCtrl.js"> </script>
	<!--Order Controller-->
	<script src="~/app/controllers/order/listOrderCtrl.js"> </script>
	<script src="~/app/controllers/order/orderDetailCtrl.js"> </script>
	<!--Promotion Controller-->
	<script src="~/app/controllers/promotion/listPromCtrl.js"> </script>
	<script src="~/app/controllers/promotion/promDetailProductCtrl.js"> </script>
	<script src="~/app/controllers/promotion/promDetailBillCtrl.js"> </script>
	<!--Category Tab-->
	<script src="~/app/controllers/categoy/tabCategoryCtrl.js"> </script>
	<!--Policy Tab-->
	<script src="~/app/controllers/policy/tabPolicyCtrl.js"> </script>
	<!--Info-->
	<script src="~/app/controllers/info/infoCtrl.js"> </script>
	<!--Service-->
	<script src="~/app/share/services/productService.js"></script>
	<script src="~/app/share/services/promService.js"></script>
	<script src="~/app/share/services/orderService.js"></script>
	<script src="~/app/share/services/cateService.js"></script>
	<script src="~/app/share/services/bandService.js"></script>
	<script src="~/app/share/services/wireService.js"></script>
	<script src="~/app/share/services/postService.js"></script>
	<script src="~/app/share/services/feeService.js"></script>
	<script src="~/app/share/services/policyService.js"></script>
	<script src="~/app/share/services/infoService.js"></script>
	<script src="~/app/share/services/helper.js"></script>
</body>

</html>
