<!--Product Detail-->
<h3 class="page-title mt-4">Giới thiệu sản phẩm</h3>
<div class="card" ng-show="isLoading">
    <loading></loading>
</div>
<div class="card" ng-hide="isLoading">
    <p ng-show="ex.isError" class="text-center pt-5" ng-bind="ex.msgError"></p>
    <div class="card-header" ng-hide="ex.isError">
        <div class="row align-items-center py-3">
            <div class="col-6">
                <p class="mb-0 pr-3">Đã bán <span class="red">{{ prod.saleCount }}</span> sản phẩm</p>
            </div>
            <div class="col-6">
                <div class="text-right">
                    <button class="btn btn-sm bg-blue white px-lg-4 mr-2" ng-click="onSave()">Lưu</button>
                    <button class="btn btn-sm bg-red white px-lg-4" ng-click="onDelete()">Xoá</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content" ng-hide="ex.isError">
       
    </div>
</div>