@{
    ViewData["Title"]="Đặt hàng thành công";
}
<div class="container-fluid">
    <div class="banner-sm section">
        <p class="white mb-0">@ViewData["Title"]</p>
    </div>
</div>
<div class="container section">
    <div class="img text-center mb-5">
        <img src="~/images/thank.png" width="150">
    </div>
    <p class="text-center">Đặt hàng <span class="bold">THÀNH CÔNG</span> , cảm ơn bạn đã lựa chọn sản phẩm cửa hàng chúng tôi.</p>
    <p class="text-center">Nhân viên sẽ gọi điện xác nhận đơn hàng của bạn trong thời gian sớm nhất.</p>
    <a class="text-center link blue d-block" href="/" title="To Product">Tiếp tục mua sắm</a>
</div>

