@page
@model ForgotPasswordModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<div class="d-flex justify-content-center">
    <h4>Forgot your password?</h4>
    <hr class="mb-3">
    <form method="post" style="width: 350px;">
        <div class="mb-3">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-lg" style="width: 100%;">Submit</button>
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>


