<header class="container-fluid pos-fixed">
    <div class="row align-items-center">
        <!--Nav Mobile-->
        <div class="col-3 d-lg-none">
            <a id="menu" class="nav-item" href="#"><i class="icon las la-bars"></i></a>
        </div>
        <!--Title-->
        <div class="col-lg-2 text-center text-lg-left d-none d-lg-block">
            <h3 class="py-3">hommer house</h3>
        </div>
        <!--Cart shopping-->
        <div class="col-9 col-lg-10 d-lg-block">
            <div class="d-flex justify-content-end">
                <!-- <a class="nav-item nav-icon" href="#">
                    <div class="cart-shopping">
                        <i class="icon las la-bell"></i>
                        <span id="cart-items" class="white bg-red">1</span>
                    </div>
                </a> -->
                <a class="nav-item nav-icon" href="/Account/Manage/ChangePassword">
                    <i class="icon las la-lock"></i>
                </a>
                <a class="nav-item nav-icon" href="#">
                    <i class="icon las la-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </div>
    <!--Side Menu mobile-->
    <div class="nav-mobile d-lg-none">
        <nav class="nav-container flex-column bg-white">
            <h3 class="nav-item py-3">hommer house</h3>
            <a class="nav-item my-2 middle-inline" href="#!/">
                <i class="icon las la-chart-pie pr-2"></i>
                <span>tổng quan</span>
            </a>
            <a class="nav-item my-2 middle-inline" href="#!/order">
                <i class="icon las la-file-alt pr-2"></i>
                <span>đơn hàng</span>
            </a>
            <a class="nav-item my-2 middle-inline" href="#!/product">
                <i class="icon las la-box pr-2"></i>
                <span>sản phẩm</span>
            </a>
            <a class="nav-item my-2 middle-inline" href="#!/category">
                <i class="icon las la-stream pr-2"></i>
                <span>phân loại</span>
            </a>
            <a class="nav-item my-2 middle-inline" href="#!/promotion">
                <i class="icon las la-percent pr-2"></i>
                <span>khuyến mãi</span></a>
            <a class="nav-item my-2 middle-inline" href="#!/policy">
                <i class="icon las la-balance-scale pr-2"></i>
                <span>chính sách & phí</span></a>
            <a class="nav-item my-2 middle-inline" href="#!/info">
                <i class="icon las la-store pr-2"></i>
                <span>thông tin cửa hàng</span></a>
            <i class="btn-classic red big-icon icon las la-times"></i>
        </nav>
        <span class="overlay bg-black"></span>
    </div>
</header>