/*============= ?cart=============*/
#cart-container {
    min-height: 200px;
    position: relative;
}

.cart .btn:hover {
    background-color: black;
    color: white !important;
}

.cart .cart-item {
    border-bottom: 1px solid #111;
    padding: 1em 0;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.cart .dropdown {
    width: 100%;
}

.cart .dropdown .select {
    border-radius: 5px;
    border: 2px solid var(--color-secondary);
}

#bill .table tr td:last-child {
    text-align: right;
}

#bill .btn {
    min-width: 250px;
}