/*========== reboot ==========*/
:root {
    --color-white: #fff;
    --color-black: #111;
    --color-red: #f5222d;
    --color-empty: #fafafa;
    --color-secondary: #d9d9d9;
    --color-blue: #096dd9;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--color-black);
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.img {
    font-size: 0;
}

img {
    max-width: 100%;
}

/*?form-input*/
input,
textarea {
    width: 100%;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    padding: 0.75em 1em;
}

input:focus {
    outline: none;
}

label {
    margin-bottom: 1em;
    display: inline-block;
}

input:invalid {
    box-shadow: none;
}

/*?form-validate*/
/*show text in validate*/
input:focus + span {
    display: block;
}

input + span {
    display: none;
}

.control-input.validate {
    position: relative;
}

.control-input.validate > span {
    position: absolute;
    top: 0;
    right: 0;
}

.validate .input-invalid:invalid,
.validate .select.input-invalid {
    border: 2px solid #ffa39e !important;
    box-shadow: none;
}

.error {
    color: var(--color-red);
}

/*hide text in validate*/
.validate input:valid + span .error,
.local.valid span .error {
    display: none;
}

.validate input:valid + span::before,
.local.valid > span::before {
    content: "✔";
    color: green;
}

.input-view {
    border: none !important;
    line-height: 2 !important;
    font-weight: 300 !important;
    padding: 0;
}

/*========== spacing ==========*/
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    line-height: 1.5;
}

p {
    margin-bottom: 1em;
    line-height: 2;
    font-weight: 300;
}

/*========== sizing ==========*/
h1,
.text-1 {
    font-size: 1.75em;
}

h2,
.text-2 {
    font-size: 1.5em;
}

h3,
.text-3 {
    font-size: 1.25em;
}

h4,
.text-4 {
    font-size: 1em;
}

.text-sub {
    font-size: 0.875em;
}

.icon {
    font-size: 24px;
}

.big-icon {
    font-size: 28px;
}

@media only screen and (min-width: 62em) {
    h1,
    .text-1 {
        font-size: 2em;
    }

    h2,
    .text-2 {
        font-size: 1.75em;
    }

    h3,
    .text-3 {
        font-size: 1.5em;
    }

    h4,
    .text-4 {
        font-size: 1.25em;
    }

    h5 {
        font-size: 1.125em;
    }
}

/*========== ui-element ==========*/
/*?img*/
.img-content {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.img-content .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-empty);
}

.img-content img {
    transition: transform 0.2s;
}

@media only screen and (min-width: 62em) {
    .img-content:hover img {
        transform: scale(1.3);
    }
}

/*?button*/
/*************************************************/
button {
    border: none;
    box-shadow: none;
}
/*************************************************/
.btn,
.btn-classic {
    border-radius: 6px;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-sm {
    padding: 0.5em 1em;
}

.btn-lg {
    padding: 1em 2.5em;
}

.btn:hover {
    box-shadow: 1px 1px 5px -2px black;
}

.btn:active {
    transform: scale(0.99);
}

/*?border*/
.border {
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
}

.border-black {
    border: 1px solid var(--color-black);
}

.border-none {
    border: none !important;
    box-shadow: none !important;
}

/*?text-color*/
.black {
    color: var(--color-black) !important;
}

.red {
    color: var(--color-red) !important;
}

.white {
    color: var(--color-white) !important;
}

.blue {
    color: var(--color-blue) !important;
}

.placeholder {
    opacity: 0.6;
}

.muted {
    opacity: 0.6;
    pointer-events: none;
}

/*?backround-color*/
.bg-red {
    background-color: var(--color-red);
}

.bg-black {
    background-color: var(--color-black);
}

.bg-white {
    background-color: var(--color-white);
}

/***********************************************************/
.bg-blue {
    background-color: var(--color-blue);
}

.bg-empty {
    background-color: var(--color-empty);
}
/***********************************************************/

/*============= ?tabel =============*/
table {
    width: 100%;
}

.table {
    border-collapse: collapse;
}

.table td {
    padding: 0.75em;
}

.table td[scope="row"] {
    font-weight: bold;
    text-transform: capitalize;
}

.table.table-color tr:nth-of-type(2n + 1) {
    background-color: var(--color-secondary);
}

/*========== helpful ==========*/
.no-overflow {
    overflow: hidden;
}

.show-item {
    opacity: 100 !important;
    z-index: 100 !important;
    pointer-events: all !important;
}

.middle-inline > * {
    vertical-align: middle;
}

.contents {
    padding: 0 15px;
}

.section {
    margin-bottom: 48px !important;
}

/*?text-format*/
.bold {
    font-weight: 500;
}

.normal {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.link {
    text-decoration: underline;
    font-style: italic;
}

@media only screen and (min-width: 62em) {
    .text-lg-center {
        text-align: center;
    }

    .text-lg-left {
        text-align: left;
    }

    .text-lg-right {
        text-align: right;
    }

    .contents {
        margin: 0;
    }
}

/*=========================================*/
.pos-fixed {
    position: fixed;
}
.pos-fixed-bottom {
    position: fixed;
    bottom: 0;
}
.pos-sticky {
    position: sticky;
}
/*========== footer ==========*/

/*========== main ==========*/
header {
    text-transform: uppercase;
    padding: 0 1em;
    position: sticky;
    top: 0;
    z-index: 299;
    background-color: var(--color-white);
    box-shadow: 0px -1px 5px 1px var(--color-black);
}

@media only screen and (min-width: 62em) {
    header {
        padding: 0 3em !important;
    }
}

/*========== nav ==========*/
.nav-container {
    display: flex;
    justify-content: center;
}

.nav-icon {
    padding: 0.75em 1.5em !important;
}

.nav-item,
.nav-item-sm {
    position: relative;
    font-size: 1em;
    color: var(--color-black);
    padding: 1em 1.5em;
    cursor: pointer;
    text-transform: uppercase;
}

.nav-item.anim-center::after {
    content: "";
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background-color: var(--color-red);
    position: absolute;
    transition: all 0.5s;
    display: block;
}

.nav-item.anim-center:hover::after {
    right: 15%;
    left: 15%;
}

.nav-mobile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    position: fixed;
}

.nav-mobile > .nav-container {
    top: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    padding-top: 2em;
    position: relative;
    text-transform: uppercase;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: 102;
}

.nav-mobile.hide-item {
    transition-delay: 0.3s;
}

.nav-mobile.show-item > .nav-container {
    transform: translateX(0);
}

.nav-mobile .btn-classic {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em;
}

.nav-mobile > .overlay {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    opacity: 0.3;
    z-index: 101;
}

@media only screen and (min-width: 62em) {
    /* .nav-item {
        max-height: 3em;
    } */
}
/*************************************************/
.desktop.nav-item:hover {
    color: var(--color-red);
    transition: all 0.3s;
    border-radius: 10px;
}

.desktop.nav-item:hover::after {
    content: "";
    width: 3px;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--color-red);
    display: block;
    transition: all 0.3s;
}
/*************************************************/
/*========== cart-icon ==========*/
.cart-shopping {
    position: relative;
}

.cart-shopping > #cart-items {
    top: -40%;
    right: -40%;
    position: absolute;
    font-size: 10px;
    border-radius: 50%;
    width: 18px;
    line-height: 18px;
    text-align: center;
    height: 18px;
}

/*========== searchbar ==========*/
.searchbar {
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    position: absolute;
    transition: all 0.3s;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.search-input {
    width: 100%;
    /********************************************/
    height: 100%;
    /********************************************/
    padding: 1em 1.5em;
}

.searchbar .search-input {
    display: flex;
    align-items: center;
}

.searchbar .btn-classic {
    padding-right: 0.75em;
}

.searchbar input {
    outline: none;
    border: none;
    line-height: 1em;
    padding-right: 48px;
    font-size: 16px;
}

.searchbar input:focus {
    outline: none;
}

.searchbar.show-item {
    top: 0 !important;
}

@media only screen and (min-width: 62em) {
    .searchbar {
        padding: 0 6em;
    }
}

/*============= policy =============*/
.policy-item {
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
}

.policy .policy-item {
    border-radius: 10px;
    max-height: 80px;
    margin: 0 auto;
}

.policy-item > .policy-icon {
    max-width: 40px;
    padding-right: 2em;
    box-sizing: content-box;
}

@media only screen and (min-width: 62em) {
    .policy-item {
        max-width: 80%;
    }
}

/*============= product =============*/
[id^="product-container"] {
    min-height: 405px;
    position: relative;
}

.product {
    padding-bottom: 3em;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.product .product-img {
    margin-bottom: 1em;
}

.product .product-content {
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.product .product-sale,
.product del {
    display: none;
}

.product.sale .product-sale,
.product.sale del {
    display: inline-block;
}

.product.sale .product-img .product-sale {
    position: absolute;
    left: 3%;
    top: 3%;
    font-size: 1.125em;
    font-weight: bold;
    padding: 0.35em 0.75em;
    color: var(--color-white);
    background-color: var(--color-red);
    z-index: 100;
    min-width: 50px;
    text-align: center;
    border-radius: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 62em) {
    .product {
        padding-bottom: 4em;
    }

    .product-text {
        padding: 0 6em;
    }

    .product-text p {
        font-size: 1.25em;
    }

    .product.sale .product-img::before {
        padding: 0.5em 1em !important;
    }

    .product .product-img .add-cart {
        position: absolute;
        color: var(--color-white);
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.8em 2em;
        margin-left: 3em;
        transition: all 0.16s;
        opacity: 0;
        z-index: -1;
    }

    .product .product-img::after {
        content: "\f217";
        display: block;
        right: 0;
        bottom: 0;
        width: 1.9em;
        color: var(--color-white);
        font-size: 20px;
        font-weight: 900;
        position: absolute;
        border-top-left-radius: 25%;
        transition: all 0.15s ease-in-out, border-radius 0.15s linear;
        font-family: "Line Awesome Free";
        background-color: var(--color-black);
        padding: 0.35em 0.125em 0.125em 0.45em;
        z-index: 98;
    }

    .product .product-img:hover .add-cart {
        opacity: 1;
        z-index: 99;
    }

    .product .product-img:hover::after {
        border-radius: 0;
        width: 100%;
        padding: 0.4em 4em;
    }
}

/*============= popup =============*/
.popup {
    position: fixed;
    top: 0;
    left: -0;
    width: 100%;
    height: 100%;
    z-index: 399;
}

.show-popup {
    animation-name: show-popup;
    animation-duration: 0.2s;
}

.hide-popup {
    animation-name: hide-popup;
    animation-duration: 0.2s;
}

.popup::after {
    content: "";
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;
    width: 250px;
    height: 80px;
    padding: 3em;
    box-sizing: content-box;
    border-radius: 15px;
}

.popup .popup-content p {
    margin-bottom: 2em;
    font-size: 1.125em;
    text-align: center;
}

.popup .popup-control {
    display: flex;
    justify-content: space-around;
}

.popup .popup-control .btn {
    min-width: 70px;
}

@keyframes show-popup {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hide-popup {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(1.2);
    }
}

/*============= ?dropdown =============*/
.dropdown {
    min-width: 150px;
    transition: all 0.5s ease;
    position: relative;
    text-align: left;
    margin-bottom: 1em;
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 0.85em 1em;
}

.dropdown .select > i {
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    line-height: 1em;
    float: right;
}
/************************************************/
.select-ouline {
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
}
/************************************************/
.dropdown:focus {
    outline: none;
}

.dropdown-ouline:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204);
}

.dropdown.active .select > i {
    transform: rotate(-90deg);
}

.dropdown .dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 3px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    overflow-y: scroll;
    z-index: 299;
    height: 250px;
    padding: 0;
    list-style: none;
}

.dropdown .dropdown-menu li {
    padding: 1em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2;
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2;
}

/*============= banner =============*/
div[class^="banner-"] {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-left: -15px;
    margin-right: -15px;
}

.banner-sm p {
    background-color: var(--color-black);
    padding: 1em 0;
    line-height: 100%;
}

.banner-lg p {
    background-image: url("../images//banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
    height: 135px;
    line-height: 135px;
}

@media only screen and (min-width: 62em) {
    .banner-lg p {
        font-size: 64px !important;
        height: 500px !important;
        line-height: 500px !important;
    }
}

/*============= ?loading=============*/
.loader {
    display: inline-block;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #111111;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
    left: -24px;
    animation: anim-circle1 0.6s infinite;
}

.loader div:nth-child(2) {
    left: -24px;
    animation: anim-circle2 0.6s infinite;
}

.loader div:nth-child(3) {
    left: 0px;
    animation: anim-circle2 0.6s infinite;
}

.loader div:nth-child(4) {
    left: 16px;
    animation: anim-circle3 0.6s infinite;
}

@keyframes anim-circle1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes anim-circle2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@keyframes anim-circle3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/*============= ?filter =============*/
.filter .nav-item {
    text-transform: capitalize;
}

.filter .nav-item.active {
    font-weight: bold;
}

/*============= ?page =============*/
.pagnation {
    display: flex;
    justify-content: center;
}

.pagnation .page-item {
    cursor: pointer;
    margin: 0 0.5em;
    padding: 0.5em 1em;
    color: var(--color-black);
    min-width: auto;
}

.pagnation .page-item.active,
.pagnation .page-item:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 5px;
}

/*============= ?cart=============*/
#cart-container {
    min-height: 180px;
    position: relative;
}

.cart .btn:hover {
    background-color: var(--color-black);
    color: white !important;
}

.cart .cart-item {
    border-bottom: 1px solid var(--color-black);
    padding: 1em 0;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.cart .dropdown {
    width: 100%;
}

#bill .table tr td:last-child {
    text-align: right;
}

#bill .btn {
    min-width: 250px;
}
